examples/example-2.json
[
  {
    "id": "256842c89a4ff9a0",
    "type": "tab",
    "label": "mod-n counter Example 2",
    "disabled": false,
    "info": "Demonstrates setting and resetting counters",
    "env": []
  },
  {
    "id": "2b7d2a9cb99819b0",
    "type": "inject",
    "z": "256842c89a4ff9a0",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "5",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"topic\":\"set\",\"value\":1}",
    "payloadType": "json",
    "x": 110,
    "y": 60,
    "wires": [
      [
        "7f33540a3e372787"
      ]
    ]
  },
  {
    "id": "b84691665f3dc555",
    "type": "switch",
    "z": "256842c89a4ff9a0",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "1",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 530,
    "y": 60,
    "wires": [
      [
        "4268dfd1aa2e9b0f"
      ]
    ]
  },
  {
    "id": "a83f764c81098dc7",
    "type": "debug",
    "z": "256842c89a4ff9a0",
    "name": "debug 3",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 900,
    "y": 60,
    "wires": []
  },
  {
    "id": "748c6a8153835659",
    "type": "inject",
    "z": "256842c89a4ff9a0",
    "name": "Reset counter",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"topic\":\"reset\",\"value\":1}",
    "payloadType": "json",
    "x": 130,
    "y": 180,
    "wires": [
      [
        "7f33540a3e372787"
      ]
    ]
  },
  {
    "id": "7f33540a3e372787",
    "type": "mod-n counter",
    "z": "256842c89a4ff9a0",
    "name": "mod-5 counter",
    "numStates": "5",
    "triggerOn": "1",
    "outputs": 1,
    "outputDebugInfo": false,
    "x": 320,
    "y": 60,
    "wires": [
      [
        "b84691665f3dc555"
      ]
    ]
  },
  {
    "id": "4268dfd1aa2e9b0f",
    "type": "function",
    "z": "256842c89a4ff9a0",
    "name": "counter output",
    "func": "msg.payload = \"counter set: mod-n reset example\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 720,
    "y": 60,
    "wires": [
      [
        "a83f764c81098dc7"
      ]
    ]
  }
]